<html>
    <head>
        <title>Azure Services</title>

        <link rel="stylesheet" href="stylesheets/style.css">
    </head>

    <body>
        <nav class="navbar">
            <p class="title">Trip simulator - Azure edition</p>
        </nav>

        <div class="container">
            <!-- <form class="search" > -->
                <div class="group">
                  <input name="search" id="place" type="text" placeholder="Search for a place.." required>
            <p class="title">Multi-purpose API</p>
        </nav>

        <div class="container">
            <h3 id="message"></h3>

            <form action="/search" method="POST" class="search" >
                <select id="purpose-selector" name="purpose" class="select-purpose">
                    <option value="recognize-language">Recognize language</option>
                    <option value="translate">Translate something</option>
                    <option value="detect-image-info">Detect image information</option>
                    <option value="detect-face">Detect face information</option>
                    <option value="key-phrase">Get sentence's key phrases</option>
                </select>

                <div class="group">
                  <input name="search" type="text" placeholder="Search.." required>

                  <span class="highlight"></span>
                  <span class="bar"></span>
                </div>

                  <button class="group" onclick="validate()" id="submitButton" ><i>Search</i></button>
              <!-- </form> -->
        </div>
        <script>
          var latitude, longitude;
          var timeZoneId, timeZoneName;




function validate(){
    var place =document.getElementById('placeText') || document.getElementById('place');

    if(place == null ){


        alert('Please enter your name. Do not leave it blank before proceed to the next field.');
    }
   else{
       if (place.value)
       {
           var r;
         let request = new XMLHttpRequest();
         request.open("GET","https://atlas.microsoft.com/search/address/json?subscription-key=ew2AGjCkLzM5_DWHXE6qWtrGldxQvYzz7H5RD8e8AxA&api-version=1.0&query="+place.value);
         request.send();
         request.onload = ()=>{
            if (request.status===200)
            {
                var r = JSON.parse(request.response);
                var position = r.results[0].position;
                console.log (position);
                latitude= r.results[0].position.lat;
                longitude =r.results[0].position.lon;
                window.location.href = './statistics';
                localStorage.setItem("latitude",latitude);
                localStorage.setItem("longitude",longitude);
                console.log(latitude +'-'+ longitude )
               
            }
            else {
                console.log(`error ${request.status} with ${request.statusText}`);
                alert(`error ${request.status} with ${request.statusText}`);
            }
         }
       
                  
       }
       else  alert('Please enter your name. Do not leave it blank before proceed to the next field.');

    }
    

            var selectorElement = document.getElementById('purpose-selector');
            var messageElement = document.getElementById('message');

            const recognizeLanguageMessage = 'Sky is the limit! Type anything';
            const translateMessage = 'Sky is the limit! Type anything';
            const detectImageInfoMessage = 'Type a link with an image';
            const detectFaceMessage = 'Put a link with an image that contains your face';
            const keyPhraseMessage = 'Type a sentence.';

            messageElement.textContent = recognizeLanguageMessage;

            selectorElement.addEventListener('change', function (evt) {
                const purpose = evt.target.value;

                switch (purpose) {
                    case 'translate':
                        messageElement.textContent = translateMessage;
                        break;
                    case 'recognize-language':
                        messageElement.textContent = recognizeLanguageMessage;
                        break;
                    case 'detect-image-info':
                        messageElement.textContent = detectImageInfoMessage;
                        break;
                    case 'detect-face':
                        messageElement.textContent = detectFaceMessage;
                        break;
                    case 'key-phrase':
                        messageElement.textContent = keyPhraseMessage;
                        break;
                    default:
                        break;
                }
            });}
        </script>
    </body>
</html>