body {
    margin: 0;
    padding: 0;
    background: #e3e3e3;
    font-family: sans-serif;
}

p {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-size: 24px;
    color: #a2a2a2;
    margin-bottom: 24px;
}

.form .form-input {
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 12px;
    border: 1px solid #d3d3d3;
}

.form .form-input:focus {
    outline: none;
}

.form .btn-submit {
    border-radius: 12px;
    border: 1px solid #d3d3d3;
    padding: 4px 12px;
    min-width: 64px;
    background: #ffffff;
    color: #646464;
}

.form .btn-submit:hover {
    cursor: pointer;
    background: #dcdcdc;
}

.form .btn-submit:focus {
    outline: none;
}

.result {
    margin-bottom: 24px;
}

.result #result-text {
    display: none;
    font-size: 40px;
    color: #dc7878;
}

.result #result-img {
    display: none;
    width: 400px;
    height: 400px;
    border-radius: 24px;
    box-shadow: 0 0 4px #6d6d6d;
}

.input-required {
    border-color: #ff8686 !important;
}

#loading {
    display: none;
    width: 100px;
}
